/* チェックボックスとラベルを横に並べる */
.container {
    display: flex;
}
.list-filter {
    width: 50%; /* 左側の幅を30%に設定 */
}
.task-list {
    width: 50%; /* 左側の幅を30%に設定 */
}
.star-list {
    width: 40%; /* 右側の幅を70%に設定 */
}